.App {
  text-align: center;
}

.Topbar {
  height: 70px;
  background-color: aquamarine;
}

.Topbar .date {
  color: cadetblue;
}

a {
  text-decoration: none;
}

ol * {
  color: white;
}

.devices {
  display: flex;
  flex-wrap: wrap;
}

.device {
  background-color: aliceblue;
  border: 1px solid #3f51b5;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 3px 10px;
  box-shadow: 1px 1px 1px #3f51b5;
  display: flex;
  align-items: center;
}

.device-name {
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.device-group {
  display: flex;
  padding: 7px;
}

.blind-container {
  position: relative;
}

.blind-updown {
  cursor: pointer;
  padding: 5px;
  background-color: #3f51b570;
  color: #3f51b5;
  border-radius: 5px;
}

.blind-position-status {
  cursor: pointer;
  margin: 5px 7px;
  width: 33px;
  height: 37px;
  position: relative;
  background-color: #3f51b570;
  border-radius: 5px;
  overflow: hidden;
}

.blind-position-background {
  background-color: blue;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blind-slider,
.hvac-slider {
  width: 200px;
  margin: 0 15px;
}

.blind-name--motion {
  text-shadow: 3px 3px 3px yellow;
}

.hvac-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
